<div class="row">
      <table class="table table-striped">

      <th align="center" colspan="2"> <h3>Day 1 - Thursday 27 Sept</h3></th>                                <th align="center" colspan="2"> <h3>Day 2 - Friday 28 Sept</h3></th>
<!--
	      <tr> <td align="center">Morning</td> <td align="left">Data organisation in spreadsheets/ Data cleaning in Open Refine</td>        <td align="center">Morning</td> <td align="left">Continuation of R: Data analysis and visualisation</td> </tr>
      <tr> <td align="center">Afternoon</td> <td align="left">Introduction to R</td>						      <td align="center">Afternoon</td> <td align="left">Continuation of R: Data analysis and visualisation</td> </tr>
-->
	  <tr> <td align="center">08:30</td>  <td align="left">Doors open/ Software installation issues </td>					<td align="center">08:30</td>  <td align="left">Doors open </td>  </tr>
      <tr> <td align="center">09:00</td>  <td align="left">Ice Breaker/Introductions </td>   							      <td align="center">09:00</td>  <td align="left">Warm up with R</td>     </tr>
      <tr> <td align="center">09:30</td>  <td align="left">Data organisation in Spreadsheets</td>       				<td align="center">9:30</td>  <td align="left">	Continuation of R: data analysis</td>     </tr>
      <tr> <td align="center">10:30</td>  <td align="left">Coffee</td>                                  				<td align="center">10:30</td>  <td align="left">Coffee</td>                </tr>
      <tr> <td align="center">11:00</td>  <td align="left">Data Organisation/Data Cleaning with OpenRefine</td> <td align="center">11:00</td>  <td align="left">Continuation of R: data analysis</td>      </tr>
      <tr> <td align="center">13:00</td>  <td align="left">Lunch</td>                                   				<td align="center">13:00</td>  <td align="left">Lunch </td>                        </tr>
      <tr> <td align="center">13:45</td>  <td align="left">Data Cleaning with OpenRefine</td>										<td align="center">13:45</td>  <td align="left">Continuation of R: data analysis/visualisation</td>      </tr>
      <tr> <td align="center">15:15</td>  <td align="left">Break </td>  												                <td align="center">15:15</td>  <td align="left">Break </td>                </tr>
      <tr> <td align='center'>15:30</td>  <td align='left'>Introduction to R</td>                               <td align="center">15:30</td>  <td align="left">Continuation of R: visualisation</td> </tr>
      <tr> <td align="center">17:00</td>  <td align="left">End</td>                                 				<td align="center">17:00</td>  <td align="left">End</td>      </tr>
<!--
spreadsheets - about 2 hours
open Refine - about 2 hours
R - before we start, intro to R - together about 2 hours (?)
	  Starting with Data - 2hours
	  Manipulating Data Frames - 2hours
	  Visualising Data - 2hours
	  - 6 hours per day for teaching episodes, rest breaks and intro/wrap up

7/2 - 3.5/2 - 1.75 1h 45 min (or 2 hours in morning, 1.5 hours in afternoon)
- 4 hours til lunch, and 3 hours after lunch

-->
    </table>

</div>
