<p id="who">
  <strong>Who:</strong>
  The course is aimed at graduate students and other researchers.
  Although the focus is on academic applications, anyone who would 
  like to learn more about automating data processing could benefit 
  from this material and is welcome to attend. We will work with data
  of animals caught in the Chihuahuan Desert in Arizona, USA, 
  so you will be an ecologist for two days. However, the tools you will learn
  can easily be used with any other data. 
  <strong>
    You don't need to have any previous knowledge of the tools
    that will be presented at the workshop. We will be teaching 
  beginner-level material suitable for programming novices.
  </strong>
</p>